<form method="post" action="/User/Login">
    <fieldset>
        <div>Hallo @Session["user"], Sie sind angemeldet als <strong>@Session["role"]</strong></div>
        <input type="submit" name="abmelden" class="btn btn-default margin-top-row" value="Abmelden" />
    </fieldset>
</form>
