body {
    font-family: 'Clan' Verdana, Geneva, sans-serif;
}

a:hover, .nav-item > a:hover {
    color: #00b5ad !important;
}

.navbar-brand {
    
}

.searchbar-input-width {
    max-width: 20em;
    display: inline-block;
}

.my-search-btn {
    color: #00b5ad;
    border-color: #00b5ad;
}

.my-search-btn .my-search-btn-img {
    width: 1em;
    height: 1em;
}

.margin-top-row {
    margin-top: 1em;
}

.margin-top-sides {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.padding-top {
    padding-top: 8px;
}

.full-width-img {
    width: 100%;
}

.padding-alert {
    padding: 8px 10px;
}

.product-thumbnails {
    height: 7em;
    overflow:hidden;
    border: solid 1px #00b5ad;
}

