<footer>

    <div class="col-md-3 padding-top">
        <span class="glyphicon glyphicon-copyright-mark"></span> @System.DateTime.Now.ToString() DBWT
    </div>

    <ol class="breadcrumb">
        <li><a href="~/Login.cshtml">Login</a></li>
        <li><a href="#">Registration</a></li>
        <li><a href="#">Zutatenliste</a></li>
        <li><a href="~/Impressum.cshtml">Impressum</a></li>
    </ol>

</footer>