<!DOCTYPE html>
<html lang="de">
    <head>
        <title>@Page.Title</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        @RenderSection("refresh", required: false)
    </head>
    <body>
        @RenderBody()
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
