<footer>

    <div class="col-md-3 padding-top">
        <span class="glyphicon glyphicon-copyright-mark"></span> @System.DateTime.Now.ToString() DBWT
    </div>

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Login","Login","User")</li>
        <li>@Html.ActionLink("Registrieren", "Register", "User")</li>
        <li><a href="#">Zutatenliste</a></li>
        <li>@Html.ActionLink("Impressum", "Impressum", "Home")</li>
    </ol>

</footer>