@using MySql.Data.MySqlClient;
@using System.Configuration;

@helper Liste()
{


    <h2>Verfügbare Speisen 
    
    @if (Request.Params["kategorien"] != null)
    {
        
        MySqlConnection kategoriecon = new MySqlConnection(ConfigurationManager.ConnectionStrings["webapp"].ConnectionString);
        kategoriecon.Open();
        MySqlCommand kategoriecmd = kategoriecon.CreateCommand();
        kategoriecmd.CommandText = @"select k.Bezeichnung as Kategorie, k.ID
                            from kategorie as k
                            where k.ID = @kategorien";
        kategoriecmd.Parameters.AddWithValue("kategorien", Request.Params["kategorien"]);
        MySqlDataReader kategorieresult = kategoriecmd.ExecuteReader();
        if (kategorieresult.HasRows)
        {
            kategorieresult.Read();
            <span>( @kategorieresult["Kategorie"].ToString() )</span>
        }

    }</h2>



MySqlConnection produktecon = new MySqlConnection(ConfigurationManager.ConnectionStrings["webapp"].ConnectionString);
produktecon.Open();
MySqlCommand produktecmd = produktecon.CreateCommand();
produktecmd.CommandText = @"select p.BildFK as BID, p.ID, p.Name, p.Beschreibung, pr.Gastbetrag, k.Bezeichnung as Kategorie,
                                b.`Binärdaten`, b.AltText, b.Title, b.Unterschrift from produkt as p
	                            join preis as pr on p.PreisFK = pr.ID
	                            join kategorie as k on p.KategorieFK = k.ID
	                            join bild as b on p.BildFK = b.ID
                                where (p.KategorieFK = @kategorien OR @kategorien IS NULL)
                                and (p.Vegan = @vegan OR @vegan IS NULL)
                                and (p.Vegetarisch = @vegetarisch OR @vegetarisch IS NULL)";
produktecmd.Parameters.AddWithValue("kategorien", Request.Params["kategorien"]);
produktecmd.Parameters.AddWithValue("vegan", Request.Params["vegan"]);
produktecmd.Parameters.AddWithValue("vegetarisch", Request.Params["vegetarisch"]);

MySqlDataReader produkteresult = produktecmd.ExecuteReader();
int i = 0;

bool loop = produkteresult.Read();
while (loop)
{

            @:<div class="row">
            
            while (loop)
            {
                
                @:<div class="col-md-2">
                @:<div class="product-thumbnails">
                    @Helps.Bild(produkteresult["BID"].ToString().AsInt())
                @:</div>
                    @:<div class="text-center">@produkteresult["Name"]</div>
                    @:<div class="text-center"><a href="/Detail.cshtml?id=@produkteresult["ID"]">Details</a></div>
                @:</div>
                loop = produkteresult.Read();
                i++;
                if (i%4==0 && i!=0)
                {
                    i = 0;
                    break;
                }
            }

            @:</div>
    }

}
